spring:
  application:
    name: Coffee_pos
  jpa:
    show-sql: true
  datasource:
    url: jdbc:mysql://localhost:3306/Coffee_pos
    username: root
    password: my-secret-pw
    driver-class-name: com.mysql.cj.jdbc.Driver
  flyway:
    baselineOnMigrate: false
  jackson:
    serialization:
      FAIL_ON_EMPTY_BEANS: false

springdoc:
  swagger-ui:
    path: /swagger-ui.html

server:
  port: 8081

logging:
  level:
    root: INFO
    com.coffee.pos: DEBUG
  file:
    name: logs/application.log
    path: logs

jwt:
  secret: deeae5a95xxxe3a7abc16300072557be
  expiration: 86400000
  refresh-token-expiration: 172800000